.vscode
e2e
node_modules
.dockerignore
Dockerfile
.editorconfig
.gitattributes
.gitignore
.prettierrc.json
README.md
env.d.ts
eslint.config.ts
playwright.config.ts
pnpm-workspace.yaml
tsconfig.vitest.json
vitest.config.ts
__tests__
tests
dist

