name: cherry-auctions

networks:
  default:
    driver: bridge
    name: cherry-auctions-default-network

volumes:
  postgres-data:
    name: cherry-auctions-postgres-data
  rustfsdata:
    name: cherry-auctions-rustfs-data
  opensearch-data:
    name: cherry-auctions-opensearch-data

services:
  # Taken from OpenSearch's Docker example file for local development
  opensearch:
    image: opensearchproject/opensearch
    container_name: cherry-auctions-opensearch
    hostname: cherry-auctions-opensearch
    environment:
      - cluster.name=opensearch-cluster # Name the cluster
      - node.name=opensearch-node # Name the node that will run in this container
      - discovery.seed_hosts=opensearch-node # Nodes to look for when discovering the cluster
      - cluster.initial_master_nodes=opensearch-node
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m" # Set min and max JVM heap sizes to at least 50% of system RAM
      - "DISABLE_INSTALL_DEMO_CONFIG=true" # Prevents execution of bundled demo script which installs demo certificates and security configurations to OpenSearch
      - "DISABLE_SECURITY_PLUGIN=true" # Disables Security plugin
    networks:
      - default
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536 # maximum number of open files for the OpenSearch user, set to at least 65536 on modern systems
        hard: 65536
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    ports:
      - 9200:9200
      - 9600:9600
    healthcheck:
      test: ["CMD", "curl", "-fsSL", "http://localhost:9200/_cluster/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s

  # Taken from OpenSearch's Docker example file
  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards
    container_name: cherry-auctions-opensearch-dashboard
    ports:
      - 5601:5601
    networks:
      - default
    expose:
      - "5601" # Expose port 5601 for web access to OpenSearch Dashboards
    environment:
      - 'OPENSEARCH_HOSTS=["http://cherry-auctions-opensearch:9200"]'
      - "DISABLE_SECURITY_DASHBOARDS_PLUGIN=true" # disables security dashboards plugin in OpenSearch Dashboards
    healthcheck:
      test: ["CMD", "curl", "-fsSL", "http://localhost:5601/api/status"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    depends_on:
      opensearch:
        condition: service_healthy

  fluentbit:
    image: fluent/fluent-bit:4.2.2
    container_name: cherry-auctions-fluentbit
    hostname: cherry-auctions-fluentbit
    restart: unless-stopped
    networks:
      - default
    volumes:
      - ./fluentbit/fluentbit.yaml:/fluent-bit/etc/fluent-bit.yaml
      - ./backend/server.log:/var/server.log:ro
    command: -c /fluent-bit/etc/fluent-bit.yaml
    environment:
      FLUENTBIT_LOG_LEVEL: debug
      FLUENTBIT_LOG_FILE: /var/server.log

  mailpit:
    image: axllent/mailpit:latest
    container_name: cherry-auctions-mailpit
    hostname: cherry-auctions-mailpit
    restart: unless-stopped
    networks:
      - default
    ports:
      - 1025:1025 # SMTP server
      - 8025:8025 # WebServer for viewing emails
    environment:
      MP_SMTP_AUTH_ACCEPT_ANY: "false"
      MP_SMTP_AUTH_USERS: ${SMTP_USER}:${SMTP_PASSWORD}

  rustfs:
    image: rustfs/rustfs:latest
    container_name: cherry-auctions-rustfs
    hostname: cherry-auctions-rustfs
    restart: unless-stopped
    networks:
      - default
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - rustfsdata:/data
    environment:
      RUSTFS_ADDRESS: :9000
      RUSTFS_ACCESS_KEY: ${AWS_ACCESS_KEY_ID}
      RUSTFS_SECRET_KEY: ${AWS_SECRET_ACCESS_KEY}
      RUSTFS_CONSOLE_ENABLE: true
    healthcheck:
      test:
        [
          "CMD",
          "sh",
          "-c",
          "curl -f http://localhost:9000/health && curl -f http://localhost:9001/rustfs/console/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  postgres:
    image: postgres:18-alpine
    container_name: cherry-auctions-postgres
    hostname: postgres
    networks:
      - default
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      start_period: 10s
      timeout: 10s
      retries: 3
      interval: 1m

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: cherry-auctions-backend
    hostname: backend
    networks:
      - default
    working_dir: /app
    environment:
      DATABASE_URL: ${DATABASE_URL}
      CORS_ORIGINS: ${CORS_ORIGINS}
      CORS_METHODS: ${CORS_METHODS}
      CORS_HEADERS: ${CORS_HEADERS}
      COOKIE_SECURE: ${COOKIE_SECURE}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      JWT_AUDIENCE: ${JWT_AUDIENCE}
      JWT_EXPIRY: ${JWT_EXPIRY}
      DOMAIN: ${DOMAIN}
      RECAPTCHA_SECRET: ${RECAPTCHA_SECRET}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_SESSION_TOKEN: ${AWS_SESSION_TOKEN}
      AWS_S3_BASE: ${AWS_S3_BASE}
      AWS_S3_USE_PATH_STYLE: ${AWS_S3_USE_PATH_STYLE}
      AWS_S3_PERM_URL: ${AWS_S3_PERM_URL}
      AWS_BUCKET_NAME: ${AWS_BUCKET_NAME}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
    ports:
      - 3000:80
    volumes:
      - ./backend:/app
      - /app/tmp
    depends_on:
      postgres:
        condition: service_healthy
      rustfs:
        condition: service_healthy
