basePath: /v1
consumes:
- application/json
definitions:
  auth.LoginRequest:
    properties:
      email:
        type: string
      password:
        maxLength: 64
        minLength: 8
        type: string
    required:
    - email
    - password
    type: object
info:
  contact:
    email: hello@luny.dev
    name: Nguyệt Ánh
  description: Backend API for CherryAuctions.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Cherry Auctions API
  version: "0.1"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      description: Logins to an account using a username and a password registered
        with the server.
      parameters:
      - description: Login credentials
        in: body
        name: credentials
        required: true
        schema:
          $ref: '#/definitions/auth.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "421":
          description: Misdirected Request
      summary: Logins to an existing account
      tags:
      - authentication
produces:
- application/json
schemes:
- https
securityDefinitions:
  ApiKeyAuth:
    description: Classic Bearer token
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
