@import "tailwindcss";

@theme {
  --color-claret-50: oklch(0.967 0.015 7.61);
  --color-claret-100: oklch(0.927 0.035 9);
  --color-claret-200: oklch(0.853 0.075 7.37);
  --color-claret-300: oklch(0.783 0.12 8.48);
  --color-claret-400: oklch(0.711 0.174 9);
  --color-claret-500: oklch(0.642 0.234 9.91);
  --color-claret-600: oklch(0.562 0.211 10.07);
  --color-claret-700: oklch(0.48 0.18 9.94);
  --color-claret-800: oklch(0.401 0.151 10);
  --color-claret-900: oklch(0.271 0.101 10.21);
  --color-claret-950: oklch(0.209 0.078 10.78);

  --color-watermelon-50: oklch(0.958 0.016 8.28);
  --color-watermelon-100: oklch(0.917 0.034 8.69);
  --color-watermelon-200: oklch(0.845 0.069 9.61);
  --color-watermelon-300: oklch(0.764 0.114 9.82);
  --color-watermelon-400: oklch(0.69 0.165 10.38);
  --color-watermelon-500: oklch(0.603 0.202 11.31);
  --color-watermelon-600: oklch(0.513 0.172 11.06);
  --color-watermelon-700: oklch(0.424 0.142 11.37);
  --color-watermelon-800: oklch(0.332 0.111 11.36);
  --color-watermelon-900: oklch(0.234 0.077 11.79);
  --color-watermelon-950: oklch(0.186 0.062 10.91);

  --color-pink-50: oklch(0.967 0.016 17.55);
  --color-pink-100: oklch(0.934 0.033 17.81);
  --color-pink-200: oklch(0.873 0.068 18.56);
  --color-pink-300: oklch(0.79 0.121 20.15);
  --color-pink-400: oklch(0.703 0.188 23.26);
  --color-pink-500: oklch(0.626 0.257 29.23);
  --color-pink-600: oklch(0.527 0.216 29.23);
  --color-pink-700: oklch(0.435 0.179 29.23);
  --color-pink-800: oklch(0.336 0.138 29.23);
  --color-pink-900: oklch(0.245 0.101 29.23);
  --color-pink-950: oklch(0.187 0.077 29.23);

  --color-seashell-50: oklch(0.974 0.012 67.7);
  --color-seashell-100: oklch(0.932 0.034 68.83);
  --color-seashell-200: oklch(0.848 0.091 75.27);
  --color-seashell-300: oklch(0.753 0.098 77.1);
  --color-seashell-400: oklch(0.667 0.087 76.04);
  --color-seashell-500: oklch(0.58 0.076 75.94);
  --color-seashell-600: oklch(0.492 0.064 75.84);
  --color-seashell-700: oklch(0.408 0.053 77.32);
  --color-seashell-800: oklch(0.311 0.041 77.71);
  --color-seashell-900: oklch(0.226 0.03 76.38);
  --color-seashell-950: oklch(0.179 0.023 76.86);

  --font-fredoka: "Fredoka", "sans-serif";
  --font-playwrite: "Playwrite US Trad", "serif";
  --font-hachi-maru: "Hachi Maru Pop", "sans-serif";
  --font-mplus: "M PLUS Rounded 1c", "sans-serif";
}
